.top-bar {
	@include flex-grid-row();
}

.header-logo {
	max-width: 130px;
	margin: 0;
	@include breakpoint(medium) {
		max-width: 150px;
	}
}

.title-bar-title {
	margin-right: auto;
}

.title-bar {
	.menu-icon {
		margin-left: rem-calc(10);
	}
}

.desktop-menu {
	max-width: 75rem;
	margin: 0 auto;
	font-size: rem-calc(12);
	@include breakpoint(medium) {
		font-size: rem-calc(14);	
	}
	@include breakpoint(large) {
		font-size: $global-font-size;
	}
}

.menu > li {
	flex-basis: (1 / 7) * 100%;
	text-align: center;
	> a {
		justify-content: center;
	}
}