.off-canvas-wrapper {
	background: url('images/dots-background.png') repeat 0 0;
}

.woocommerce {
	ul{
		&.products {
			li{
				&.product {
					text-align: center;					
					@media screen and (max-width: 400px) {
						float: none;
						width: 100%;
					}
					h3 {
						font-size: 1.7em;
					}
					.price {
						color: $black;
						font-weight: $global-weight-bold;
					}
				}
			}
		}
	}
}