.container {
	background: url('images/dots-background.png') repeat 0 0;
}

@mixin white-back {
	background: rgba(255,255,255,.8);
}

.white-back, #page {
	@include white-back;
}

.woocommerce {
	ul{
		&.products {
			li{
				&.product {
					text-align: center;					
					@media screen and (max-width: 400px) {
						float: none;
						width: 100%;
					}
					h3 {
						font-size: 1.7em;
					}
					.price {
						color: $black;
						font-weight: $global-weight-bold;
					}
				}
			}
		}
	}
	a.remove {
		color: $red !important;
		&:hover {
			background: $red;
		}
	}
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
	background-color: $red;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
	width: 100%;
	float: none;
}

h1, h2, h3 {
	color: $red;
}

.cart-image {
	width: rem-calc(17);
	height: rem-calc(17);
	margin: 0 rem-calc(10) 0;
	display: inline-block;
}

.cart-icon-wrapper {
	position: relative;
}

.cart-contents {
	padding-left: 1.5rem;
	background: transparent;
	position: relative;
	z-index: 1;
}

.cart-icon {
	position: absolute;
	left: 0;
	top: 1px;
	&:before {
		background-image: url(../images/shopping-cart.svg);
		content: '';
		height: rem-calc(17);
		width: rem-calc(17);
		background-size: rem-calc(17);
		display: inline-block;
	}
}