.container {
	background: url('images/dots-background.png') repeat 0 0;
}

@mixin white-back {
	background: rgba(255,255,255,.8);
}

.white-back, #page {
	@include white-back;
}

// hide the tabs in the product pages
.woocommerce div.product .woocommerce-tabs ul.tabs {
	display: none;
}

.woocommerce div.product {
	padding-top: 3rem;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
	color: $black;
}

.woocommerce {
	ul{
		&.products {
			li{
				&.product {
					text-align: center;					
					@media screen and (max-width: 400px) {
						float: none;
						width: 100%;
					}
					h3 {
						font-size: 1.7em;
					}
					.price {
						color: $black;
						font-weight: $global-weight-bold;
					}
					.woocommerce-loop-product__title {
						font-family: $body-font-family;
						font-size: 1.5rem;
					}
				}
			}
		}
	}
	a.remove {
		color: $red !important;
		&:hover {
			background: $red;
		}
	}
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
	background-color: $red;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
	width: 100%;
	float: none;
}

h1, h2, h3 {
	color: $red;
}

.cart-image {
	width: rem-calc(17);
	height: rem-calc(17);
	margin: 0 rem-calc(10) 0;
	display: inline-block;
}

.cart-icon-wrapper {
	position: relative;
	display: inline-block;
	.login-reg & {
		margin-left: 1rem;
	}
}

.cart-contents {
	padding: 0 0 0 1.5rem;
	&, .login-reg & {
		background: transparent;
		position: relative;
		z-index: 1;
	}
	.login-reg & {
		padding: 0 1rem 0 1.5rem;
	}
}

.cart-icon {
	position: absolute;
	left: 0;
	top: 3px;
		.off-canvas & {
			top: 6px;
		}	
		&:before {
		background-image: url(../images/shopping-cart.svg);
		.off-canvas & {
			background-image: url(../images/shopping-cart-white.svg);
		}
		content: '';
		height: rem-calc(17);
		width: rem-calc(17);
		background-size: rem-calc(17);
		display: inline-block;
	}
}